.editor {
    padding: 24px;
    flex: 1;
    border-right: thin solid white;
    display: flex;
    flex-direction: column;

    .editor_title {
        border-bottom: thin solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        h3 {
            color: white;
        }

        ul {
            display: flex;
            color: white;
            align-items: center;

            li {
                list-style: none;
            }

            li:first-child {
                margin-right: 8px;
            }
        }
    }

    textarea {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        background-color: black;
        color: white;
        outline: none;
        font-size: 14; /** allow font-specification **/
        padding: 8px;
        border: none;
        resize: none;
    }
}