textarea {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: black;
    color: white;
    outline: none;
    font-size: 14; /** allow font-specification **/
    padding: 8px;
}