.preview {
    padding: 24px;
    background-color: black;
    color: white;
    font-size: 14px; /** allow font-specification **/
    flex: 1;
    border-left: thin solid white;

    .preview_title {
        border-bottom: thin solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        h3 {
            color: white;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                list-style: none;
            }
        }
    }
}